<header>
    <div class="wrapper-menu-principal">
        <div class="container-fluid">
            <div class="d-none d-sm-none d-md-flex d-lg-flex d-xl-flex justify-content-between menu-informacion">
                    <div class="d-flex flex-row ml-5">
                        <div class="menu-informacion-correo">
                            <i class="fas fa-envelope"></i>
                            <span>enquiry@geekshubtravels.com</span>
                        </div>
                        <div class="menu-informacion-phone">
                            <i class="fas fa-phone-volume"></i>
                            <span>0264 123 4567</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row mr-5">
                        <div class="menu-informacion-idioma">
                             {{#if locale}}
                            <div class="dropdown">
                                <button class="dropdown-toggle boton-menuprincipal-idioma" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/blank.gif" class="flag flag-es" alt="idioma" /> Spanish
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/locale/en"><img src="/images/blank.gif" class="flag flag-gb" alt="idioma" /> English</a>
                                </div>
                            </div>
                             {{else}}
                                 <div class="dropdown">
                                     <button class="dropdown-toggle boton-menuprincipal-idioma" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         <img src="/images/blank.gif" class="flag flag-gb" alt="idioma" /> English
                                     </button>
                                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                         <a class="dropdown-item" href="/locale/es"><img src="/images/blank.gif" class="flag flag-es" alt="idioma" /> Spanish</a>
                                     </div>
                                 </div>
                             {{/if}}
                        </div>
                        <div class="menu-informacion-redessociales">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="/"><img class="img-fluid" src="/images/logo2.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link opcion-menu-home" href="/">{{__ "Inicio"}} <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link opcion-menu-home" href="#destinos">{{__ "Destinos"}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link opcion-menu-home" href="#somos">{{__ "Quienes Somos"}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link opcion-menu-home" href="#contacto">{{__ "Contáctanos"}}</a>
                        </li>
                        {{#with cliente}}
                            <li class="nav-item dropdown">
                                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{#if imagen}}<img src="{{imagen}}" alt="twitter" class="img-fluid" width="20px"/> {{else}}<i class="fas fa-user"></i>{{/if}} {{usuario}}</a>
                                <div class="dropdown-menu dropdown-menu-right lista-usuario">
                                    <a class="dropdown-item" href="#">{{../__ "Mi Perfil"}}</a>
                                    {{#if isAdmin}}
                                    <a class="dropdown-item" href="/admins/adminpanel">{{../__ "Administrar los Destinos"}}</a>
                                    <a class="dropdown-item" href="/admins/userpanel">{{../__ "Administrar los Usuarios"}}</a>
                                    {{/if}}
                                    <a class="dropdown-item" href="/users/logout">{{ ../__ "Cerrar Sesión"}}</a>
                                </div>
                            </li>
                        {{else}}
                            <li class="nav-item">
                                <a class="nav-link" href="/users/login"><i class="fas fa-user"></i> {{__ "Registrarse / Iniciar Sesión"}}</a>
                            </li>
                        {{/with}}
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="/cart" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-shopping-cart"></i> <span class="quantity-carrito">{{#with carrito}}{{totalQuantity}}{{else}}0{{/with}}</span></a>
                            {{#if carrito}}
                                <div class="dropdown-menu dropdown-menu-right lista-carrito">
                                    {{#each carrito.items}}
                                        <div class="dropdown-item item-carrito d-flex flex-row justify-content-center align-items-center">
                                            <div class="w-50 p-4">
                                                <img src="{{imagen}}" alt="{{nombre}}" class="img-fluid"/>
                                            </div>
                                            <div class="w-50 p-1 d-flex flex-column">
                                                    <span class="item-carrito-cantidad">{{quantity}} x</span>
                                                    <span class="prueba-div">{{titulo_descr}}</span>
                                                    <span class="item-carrito-precio">Precio : {{precio}} €</span>
                                            </div>
                                        </div>
                                    {{/each}}
                                    <div class="d-flex flex-column justify-content-center align-items-center totalprice-carrito">
                                        <span >Total : {{carrito.totalPrice}} €</span>
                                    </div>
                                    <div class="d.flex flex-column ">
                                        <a href="/cart"
                                           class="btn btn-warning boton-vertucompra d-flex flex-column justify-content-center">{{__ "Ver tu compra"}}</a>
                                    </div>
                                </div>
                            {{/if}}

                        </li>
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link opcion-menu-home" href="#"><i class="fas fa-shopping-cart"></i></a>-->
                        <!--</li>-->
                        <!--<li class="nav-item dropdown">-->
                            <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                                <!--Dropdown-->
                            <!--</a>-->
                            <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                                <!--<a class="dropdown-item" href="#">Action</a>-->
                                <!--<a class="dropdown-item" href="#">Another action</a>-->
                                <!--<div class="dropdown-divider"></div>-->
                                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                            <!--</div>-->
                        <!--</li>-->
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>